/*Valery Khirin-317974467 Tal Mishaan-203908652*/

/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #F0F0F0;
}

h1 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
	text-shadow: 3px 3px #DDDDDD; /*--------------------------Adde by Valery & Tal - TASK 1------------------------------------------------*/
}

h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}



/*------------------------------
=NAVIGATION
------------------------------*/

/*nav {
	position: absolute;
	left: 0;
	width: 100%;
	background: linear-gradient(gray, white); 
}

	nav ul {
		margin: 0 auto;
		width: 940px;
		list-style: none;
	}

		nav ul li {
			float: left;
		}
		
			nav ul li a {
				display: block;
				margin-right: 20px;

				font-size: 14px;
				line-height: 44px;
				text-align: center;
				text-decoration: none;
				color: #777;
			}
			
				nav ul li a:hover {
					color: #fff;
				}
			
			nav ul li.selected a {
				color: #fff;
			}
			

			nav ul li.subscribe a{
				margin-left: 22px;
				padding-left: 33px;
				text-align: left;
			}

*/
/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	background: linear-gradient(to top, green, #006400); 
	
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

	#intro h2, #intro p {
		position: relative;
		z-index: 9999;
		width: 436px;
        text-shadow: 2px 2px;
	}
	
	#intro h2 {
		padding: 0 0 22px 0;
		font-weight: normal;
		color: #fff;
	}
	
	#intro p {
		padding: 0;
		color: #d9f499;
	}
	
	#intro img {
		position: absolute;
		top: 0;
		right: 0;
		width: 653px;
		height: 100%;
	
		/* Border-radius not implemented yet */
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
	}


/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

	#mainContent {
		display: table-cell;
		width: 620px;
		padding-right: 22px;
	}
	
	aside {
		display: table-cell;
		width: 300px;
	}


/*------------------------------
=SIDEBAR
------------------------------*/
@media (min-width: 768px){
    #content {
	    display: table;
    }

}

@media (max-width: 576px){
    aside {
        display: -webkit-inline-box;
        width: 400px;
    }
}

aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
	background: linear-gradient(gray, white); 
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

	aside section ul {
		margin: 0 0 0 22px;
		list-style: none;
	}
	
		aside section ul li a {
			display: block;
			text-decoration: none;
			color: #000;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
			}

/*------------------------------
=BLOG POST
------------------------------*/
.blogPost header p, .blogPost header p a {
		font-size: 14px;
		font-style: italic;
		color: #777;
	}
	
		.blogPost header p a:hover {
			text-decoration: none;
			color: #000;
		}
/*--------------------------Adde by Valery & Tal - TASK 1------------------------------------------------*/
@font-face {
	font-family: myFirstFont;
    src: url(/images/SansationLight.woff) format('woff');   
}

.blogpost div {
   font-family: myFirstFont;
}
/*--------------------------Adde by Valery & Tal - TASK 1------------------------------------------------*/
.blogPost div {
	/* Column-count not implemented yet */
	-moz-column-count: 2;
	-webkit-column-count: 2;
	
	/* Column-gap not implemented yet */
	-moz-column-gap: 22px;
	-webkit-column-gap: 22px;
}

.blogPost img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}

.blogPost video {
	margin: 12px 0;
	width: 100%;
	height: auto;
	-webkit-box-shadow: 3px 3px 7px #777;
}

/*------------------------------
=COMMENTS
------------------------------*/

#comments {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

	#comments article {
		display: table;
		padding: 22px;
	}
	
	#comments article:nth-child(odd) {
		padding: 21px;
		background: #E3E3E3;
		border: 1px solid #d7d7d7;
		-moz-border-radius: 11px;
		-webkit-border-radius: 11px;
	}
	
		#comments article header {
			display: table-cell;
			width: 220px;
			padding-right: 22px;
		}
		
			#comments article header a {
				display: block;
				font-weight: bold;
				color: #000;
			}
			
				#comments article header a:hover {
					text-decoration: none;
				}
		
		#comments article p {
			padding: 0;
		}





/*------------------------------
=COMMENT FORM
------------------------------*/
form {
	margin-top: 21px;
	padding-top: 22px;
	border-top: 1px solid #d7d7d7;
}

	form p {
		display: table;
		margin-bottom: 22px;
		padding: 0 22px;
	}

		form label {
			display: table-cell;
			width: 140px;
			padding-right: 20px;
			text-align: right;
			font-weight: bold;
			vertical-align: top;
		}
	
		form input[type="text"], form input[type="url"] {
			display: table-cell;
			width: 300px;
			border: 1px solid #d7d7d7;
		}
		
		form textarea {
			width: 300px;
			height: 100px;
			border: 1px solid #d7d7d7;
		}
		
		form input[type="submit"] {
			margin-left: 162px;
		}



/*------------------------------
=FOOTER
------------------------------*/
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
}

	footer div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #777;
	}
	
		footer div section {
			display: table-cell;
			width: 300px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
	
	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}
	
		footer ul li a {
			display: block;
		}
		
/*--------------------------Adde by Valery & Tal - TASK 1------------------------------------------------*/
#transDemo2 div {
  height:30px;
  width:30px;
  text-align:center;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#transDemo2 div:hover, #transDemo2 div.hover_effect {
  -webkit-transform:rotate(720deg) scale(2,2);
  -moz-transform:rotate(720deg) scale(2,2);
  -ms-transform:rotate(720deg) scale(2,2);
  transform:rotate(720deg) scale(2,2);
}

/*
#valery {
  height:30px;
  width:30px;
  text-align:center;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#valery:hover, #valery.hover_effect{
  -webkit-transform:rotate(720deg) scale(2,2);
  -moz-transform:rotate(720deg) scale(2,2);
  -ms-transform:rotate(720deg) scale(2,2);
  transform:rotate(720deg) scale(2,2);
}
*/

/*--------------------------Adde by Valery & Tal - TASK 1------------------------------------------------*/
